color333 = #333
color666 = #666
color999 = #999

html, body {
  background #f8f8f8
}

.title {
  color #666
  font-size 14px
  padding 15px
}

.formTextRight {
  input {
    text-align right
  }
}

//首页
.tabbar1 {
  padding 10px 20px 50px
  background #fff
}
.homeList {
  margin-bottom 15px
  .homeListTitle {
    color #333333
    font-size 17px
    border-left 4px solid #ffdf4c
    padding-left 10px
    font-weight 600
    margin 15px 0 10px
  }
  ul {
    li {
      padding 10px
      border-radius: 5px;
      background-color: #fff;
      -webkit-box-shadow: 1px 1.732px 10px 0px rgba(0,0,0,0.3);
      box-shadow: 1px 1.732px 10px 0px rgba(0,0,0,0.3);
      margin-bottom 10px
      a {
        width 100%
        height 100%
        display block
        .homeListImg {
          img {
            width 100%
            height 220px
          }
        }
        .homeListName {
          color #333
          font-size 14px
          line-height 22px
          font-weight 600
          margin 8px 0
        }
        .homeListTip {
          overflow hidden
          color #999999
          font-size 12px
          img {
            vertical-align middle
            width 18px
            margin-right 5px
          }
        }
      }
    }
    li:last-child {
      margin-bottom 0px
    }
  }
}
//积分实惠
.tabbar2 {
  padding 10px 20px 50px
  background #fff
  ul {
    li {
      position relative
      width 100%
      height 90px
      margin-bottom 10px
      > div {
        position absolute
        left 50px
        top 15px
        text-align center
        color #fff
        font-size 12px
        h2 {
          font-size 24px
          margin-bottom 8px
        }
        p {
          margin-top 8px
        }
      }
      > span {
        position absolute
        right 18px
        top 50%
        width 60px
        height 24px
        line-height 24px
        text-align center
        border 1px solid #fff
        color #ffffff
        font-size 12px
        border-radius 12px
        margin-top -12px
      }
    }
    li:nth-child(1n) {
      background url("../../assets/img/cardBg1.png") no-repeat
      background-size 100%
    }
    li:nth-child(2n) {
      background url("../../assets/img/cardBg2.png") no-repeat
      background-size 100%
    }
    li:nth-child(3n) {
      background url("../../assets/img/cardBg3.png") no-repeat
      background-size 100%
    }
  }
}
//首页广告图
.banner {
 position relative
 img {
   width 100%
   height 100%
 }
 .orgName {
   position absolute
   left 0px
   bottom 10px
   height 30px
   line-height 30px
   padding 0 15px
   color #fff
   font-size 14px
   background rgba(0,0,0,0.4)
   border-radius 0 15px 15px 0
 }
}
//首页按钮区
.iconList ul {
  overflow hidden
  li {
    float left
    width 25%
    text-align center
    color color333
    font-size 12px
    margin 10px 0 5px
    img {
      display block
      width 36px
      height 36px
      margin 0 auto 5px
    }
  }
}
//首页公告
.noticeList {
  margin 10px 0
  width 100%
  height 44px
  position relative
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1.732px 10px 0px rgba( 0, 0, 0, 0.3 );
  .noticeHead {
    position absolute
    width 47px
    height 27px
    left 10px
    top 9px
  }
  .noticeAdd {
    position absolute
    width 20px
    height 27px
    right 10px
    top 8px
  }
  a {
    width 100%
    height 100%
    display block
  }
  .scroll-wrap {
    height 30px
    line-height 30px
    overflow hidden
    position absolute
    left 62px
    top 7px
    right 40px
    .scroll-content {
      position: relative;
      transition: top 0.5s
      overflow hidden
      li{
        color: color666
        font-size: 15px
        overflow hidden
        text-overflow: ellipsis
        white-space: nowrap
        display: block
        height: 30px
        color color333
        font-size 14px
        span {
          width 30px
          height 16px
          line-height 16px
          text-align center
          border-radius 8px
          color #ff4c4c
          border 1px solid #ff4c4c
          font-size 12px
          vertical-align middle
          display inline-block
          margin-right 10px
        }
      }
    }
  }
}
//公告
.noticeIndexList {
  padding 5px 15px
  background #fff
  ul {
    li {
      width 100%
      height 100%
      border-bottom 1px solid #cccccc
      a {
        display block
        width 100%
        height 100%
        padding 10px 0
        h3 {
          color #333333
          font-size 16px
          font-weight bold
          span {
            font-weight normal
            font-size 12px
            color color999
            float right
          }
        }
        p {
          color color999
          font-size 14px
          margin-top 5px
          line-height 20px
        }
      }
    }
    li:last-child {
      border-bottom none
    }
  }
}
//公告详情
.noticeIndexDetails {
  padding 10px 15px;
  h2 {
    color #333333
    font-size 16px
    font-weight bold
  }
  .info {
    font-size 13px
    color #999999
    margin 10px 0
  }
  .content {
    color #666666
    font-size 14px
    line-height 22px
    img {
      width 100% !important
      height 100% !important
      margin-bottom 5px
    }
  }
}
//九宫格
.ninePalace {
  background #fff
  ul {
    display flex
    flex-wrap wrap
    width 100%
    li {
      width calc(calc(100% / 3))
      box-sizing border-box
      border-right 1px solid #cccccc
      border-bottom 1px solid #cccccc
      text-align center
      padding 20px 0 30px
      img {
        width 70px
        height 70px
      }
      p {
        color #333333
        font-size 14px
        margin-top 5px
      }
    }
    li:nth-child(3n) {
      border-right none
    }
  }
}
//政务咨询
.businessIndexList {
  background #ffffff
  padding 0px 15px
  ul {
    li {
      border-bottom 1px solid #cccccc
      position relative
      color #333333
      font-size 14px
      padding 15px 15px 15px 0
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      i {
        position absolute
        right 0px
        top 15px
        font-size 20px
        color #cccccc
      }
    }
    li:last-child {
      border-bottom none
    }
  }
}
.businessIndexDetails {
  padding 10px 15px
  h2 {
    color #333333
    font-size 18px
    margin 20px 0
    font-weight 600
  }
  div {
    color #666666
    font-size 13px
    line-height 22px
    img {
      width 100%
      height 100%
    }
  }
}
//圈子管理
.circleIndex {
  background #fff
  .iconList {
    padding-bottom 10px
    border-bottom 10px solid #f8f8f8
  }
}
.circleIndexDetails {
  .postHead {
    background #ffffff
    padding 10px 15px
    margin-bottom 10px
    h2 {
      color #333
      font-weight bold
      font-size 16px
      margin-bottom 15px
      line-height 22px
    }
    p {
      margin 0 0 8px
      font-size 14px
      color #666
      line-height 20px
    }
    > div {
      img {
        width 100%
        height 100%
      }
    }
  }
  .postCommon {
    padding 10px 15px
    background #ffffff
    h2 {
      color #333
      font-size 16px
      font-weight bold
    }
    ul {
      padding 15px 0
      li {
        overflow hidden
        margin-bottom 10px
        div:nth-child(1) {
          float left
          width 30px
          height 30px
          img {
            width 30px
            height 30px
            border-radius 50%
          }
        }
        div:nth-child(2) {
          color #333333
          font-size 15px
          padding-left 40px
          h3 {
            color #333333
            font-size 15px
          }
          p {
            line-height 24px
            color #333333
          }
          h4 {
            color #999999
            font-size 12px
          }
        }
      }
    }
  }
}
//文章列表管理
.postList {
  .replyImg {
    position absolute
    right 20px
    top 15px
    width 60px
    height 50px
  }
  .box {
    padding 12px 16px
    border-bottom 1px solid #cccccc
    position relative
    .box-head {
      overflow hidden
      line-height 30px
      height 30px
      .time {
        float right
        color #999999
        font-size 12px
      }
      .userImg {
        width 30px
        height 30px
        vertical-align middle
        margin-right 6px
      }
      .userName {
        font-size 15px
        font-weight bold
        color #333333
      }
    }
    .box-body {
      padding 10px 0
      .box-body-text {
        color #333333
        font-size 14px
        line-height 22px
      }
      .box-body-img {
        overflow hidden
        img {
          float left
          width 120px
          height 120px
        }
        .box-body-text {
          padding-left 130px
        }
      }
      .box-body-imgs {
        overflow hidden
        margin-top 5px
        img {
          float left
          width 32%
          height 120px
          margin-right 2%
        }
        img:last-child {
          margin-right 0px
        }
      }
    }
    .box-foot {
      overflow hidden
      .box-foot-tip {
        float left
        display inline-block
        min-width 80px
        height 24px
        line-height 24px
        text-align center
        color #ff4c4c
        border 1px solid #ff4c4c
        border-radius 12px
        font-size 14px
      }
      .box-foot-btns {
        float right
        > div {
          float left
          color #333333
          font-size 12px
          img {
            width 24px
            height 24px
            vertical-align middle
          }
        }
      }
    }
  }
  .box:last-child {
    border-bottom none
  }
}
.postCommonTip {
  background #ffffff
  position fixed
  bottom 0px
  height 45px
  left 0px
  width 100%
  display flex
  border-top 1px solid #ccc
  > div {
    flex 1
    text-align center
    color #333333
    font-size 12px
    line-height 45px
    img {
      width 24px
      height 24px
      vertical-align middle
    }
  }
}
.circlePostIndex {
  .infosBox {
    background #ffdf4c
    width 100%
    color #fefefe
    text-align center
    padding 20px 0 30px
    img {
      width 57px
      height 57px
      margin 0 auto
      display block
    }
    h2 {
      font-size 15px
      margin 20px 0 8px
      color #fefefe
    }
    p {
      font-size 14px
      margin-bottom 10px
      color #fefefe
    }
    a.bansA {
      display inline-block
      margin 0 auto
      border 1px solid #ffffff
      height 22px
      line-height 22px
      text-align center
      border-radius 15px
      padding 0 15px
      font-size 12px
      color #ffffff
    }
  }
}
//固定按钮
.fixedBtn {
  position fixed
  right 15px
  bottom 15px
  a {
    display inline-block
    width 50px
    height 50px
    background #ff4c4c
    border-radius 50%
    text-align center
    line-height 50px
    color #ffffff
    font-size 14px
  }
}
.addBtn {
  overflow hidden
  padding 15px 15px
  a {
    display block
    width 100%
    height 44px
    line-height 44px
    text-align center
    background #3aaff6
    border none
    border-radius 5px
    color #ffffff
    font-size 15px
  }
}
//活动管理
.activityIndex {
  .activity-head-box {
    background #ffffff
    padding 15px 20px
    overflow hidden
    .headImg {
      float left
      width 60px
      height 60px
      border-radius 50%
      margin-right 10px
    }
    .headText {
      h2 {
        color #000000
        font-size 15px
        font-weight bold
        img {
          vertical-align middle
          width 15px
          height 15px
        }
      }
      p {
        color #000000
        font-size 14px
      }
    }
  }
}
.activety {
  .activetyBox {
    border-bottom 10px solid #f8f8f8
    padding 10px 15px
    overflow hidden
    img {
      width 100%
      height 200px
      border-radius 10px
      overflow hidden
      margin-bottom 10px
    }
    h2 {
      color #000000
      font-size 15px
      font-weight bold
      line-height 20px
      padding-bottom 10px
      border-bottom 1px solid #ccc
    }
    p {
      color #000000
      font-size 12px
      margin-top 10px
      span {
        font-size 14px
      }
    }
    > div {
      margin 10px 0 15px
      color #000000
      font-size 14px
    }
  }
}
.fixedBottomBtn {
  width 100%
  height 44px
  line-height 44px
  position fixed
  left 0px
  bottom 0px
  background #fff
  display flex
  text-align center
  a {
    flex 1
    font-size 14px
    span {
      font-size 20px
      color #5185eb
    }
  }
  a:nth-child(1) {
    color #000000
  }
}
//选项卡
.tab {
  background #ffffff
  > ul {
    overflow hidden
    display flex
    padding 10px 15px
    li {
      flex 1
      text-align center
      color #000000
      font-size 15px
      font-weight bold
      position relative
      padding 10px 0
    }
    li.active:after {
      content ''
      width 40px
      height 5px
      background #ffdf4c
      border-radius 3px
      position absolute
      left 50%
      bottom 5px
      margin-left -20px
    }
  }
}
.soltDataList {
  height 150px
  overflow-y auto
  ul {
    li {
      height 45px
      line-height 45px
      text-align center
      border-bottom 1px solid #ccc
      font-size 16px
    }
    li:last-child {
      border-bottom none
    }
    li:active{
      background #f0f0f0
    }
  }
}
.soltDataListBtn {
  border-top 5px solid #e0e0e0
  > div {
    height 45px
    line-height 45px
    text-align center
    font-size 16px
  }
  > div:active{
    background #f0f0f0
  }
}
//网格详情
.gridIndexItem {
  .gridBox {
    overflow hidden
    background #ffffff
    margin-bottom 10px
    padding 10px 15px
    .gridBox-head {
      overflow hidden
      h2 {
        border-left 3px solid #ffdf4c
        color #333333
        font-size 16px
        font-weight bold
        padding-left 10px
        height 20px
        line-height 20px
        span {
          float right
          font-weight normal
          font-size 14px
          color #5185eb
        }
      }
    }
  }
}
//文章
.post {
  margin-top 5px
  li {
    background #ffffff
    padding 10px 0px
    overflow hidden
    position relative
    border-bottom 1px solid #ccc
    img {
      float left
      width 60px
      height 60px
      margin-right 10px
      border-radius 4px
    }
    > div {
      padding-left 70px
      h2 {
        color #000000
        font-size 14px
        font-weight bold
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      }
      p {
        height 42px
        overflow hidden
        line-height 22px
        color #999999
        font-size 14px
        margin-top 6px
      }
    }
  }
  li:last-child {
    border-bottom none
  }
}
//暂无数据
.noData {
  text-align center
  color #333
  font-size 14px
  padding 10px 0
}
//投诉建议
.complaintIndex {
  padding-bottom 50px
}
.complaintBtn {
  position fixed
  left 15px
  right 15px
  bottom 0px
  height 60px
  background #fff
  a {
    display block
    width 100%
    height 50px
    background #26a0f5
    border-radius 4px
    text-align center
    line-height 50px
    color #ffffff
    font-size 16px
  }
}
.complaintDetailsReply {
  background #ffffff
  margin-top 10px
  padding 10px 15px
  div {
    margin-bottom 10px
    border-bottom 1px dashed #ccc
    padding-bottom 10px
  }
  div:last-child {
    border-bottom none
    padding-bottom 0px
  }
  h2 {
    color #333333
    font-size 16px
    padding 5px 0 10px
    border-bottom 1px solid #ccc
    font-weight bold
    span {
      float right
      color #999999
      font-size 12px
    }
  }
  p {
    color #333333
    font-size 14px
    line-height 20px
    margin-top 10px
  }
}
/*商家信息*/
.merchantIndexList {
  > div {
    margin-top 10px
  }
  .merchantIndexListBox {
    padding 10px 15px
    border-bottom 1px solid #ccc
    overflow hidden
    background #ffffff
    > img {
      width 80px
      height 80px
      float left
    }
    .merchantIndexListBoxText {
      padding-left 90px
      position relative
      height 80px
      h2 {
        color #333333
        font-size 15px
        font-weight 600
        margin 10px 0 10px
        span {
          color #ff4c4c
          font-size 12px
          padding 4px 7px
          display inline-block
          border 1px solid #ff4c4c
          border-radius 10px
          margin-right 4px
        }
        span:last-child {
          margin-right 10px
        }
      }
      > div {
        color #333333
        font-size 14px
        img {
          vertical-align middle
          width 18px
          margin-top -2px
          margin-right 5px
        }
      }
      .phone {
        position absolute
        right 0px
        bottom 10px
        width 50px
        height 50px
      }
    }
  }
}
/*党建模块*/
.partyIndex {
  padding 15px
  position relative
  .list {
    position absolute
    left 0px
    top 16px
    display flex
    flex-flow row wrap
    justify-content center
    align-items center
    text-align center
    > div {
      flex 0 0 50%
      justify-content center
      align-items center
      text-align center
      padding-top: 30px
      padding-bottom: 26px
      a {
        display block
        width 100%
        height 100%
        > div {
          width 120px
          height 120px
          line-height 120px
          border-radius 50%
          border 3px solid #fff
          font-size 60px
          color #ffffff
          font-weight bold
          display inline-block
        }
        p {
          margin-top 10px
          color #333
        }
      }
    }
  }
}
