/*
* penggui
* 2018-9-18
*/
.home {
  padding 0 20px
}
.banner {
 position relative
}
.banner img {
  width 100%
  height 100%
}
.iconList ul {
  overflow hidden
}
.iconList ul li {
  float left
  width 25%
  text-align center
  color #333333
  font-size 12px
  margin 10px 0 5px
}
.iconList ul li img {
  display block
  width 36px
  height 36px
  margin 0 auto 5px
}
